/* MISC */
.container{
    max-width: 100%;
}
.jumbotron{
    margin-bottom: 60px;
    margin-left: 5px;
    margin-right: 5px;
}
span{
    text-transform: uppercase;
}
.buttons{
    padding-top: 5%;
}

.btn{
    width:10vw;
}

.lower{
    text-transform: uppercase;
    letter-spacing: .6px;
} 

/* LEGISLADOR TITLE */

.title{
    font-size: 2.4em;
    text-transform: uppercase;
    margin:0px;
    padding: 2%;
    color:black;
    transition:all 1s ease 0s;
}

.title:hover{
    color: rgb(236, 171, 49);
    transition:all 1s ease 0s;
}

/* ORDENAR POR DROPDOWN */

.dropdown{
    margin-right: 0px;
    padding: 2%;
}
.dropdown-toggle{
    background-color: rgb(236, 171, 49);
    color: black;
    padding: 5%;
}

.dropdown-toggle:hover{
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}