
.nav-container{
    max-width: 100%;
}
.title{
    margin: 45px;
}
.input-group-text{
    max-height: 38px;
}
.single{
    height: 38px;
}

#ext{
    background-color: gray;
}
.btn{
    background-color: rgb(236, 171, 49);
    border: rgb(87, 87, 87);
    width: 100%;
    color: black;
}