/* MISC */
main{
    min-height: 72vh;
}
.nav-container{
    max-width: 100%;
}

.title{
    margin: 45px;
}

/* svg fix */
.input-group-text{
    max-height: 38px;
}
.single{
    height: 38px;
}

/* submit btn */
.btn-dark{
    background-color: rgb(236, 171, 49);
    border: rgb(87, 87, 87);
    width: 100%;
    color: black;
}

/* footer */
a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 60px 0;
}
.bottom {
    background-color: #0a1c2e;
}
.bottom .text {
    color: #e5e5e5;
    font-weight: 600;
}
.text a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}

.bottom .text span {
    color: #d1caca;
}
.bottom  a:hover{
    color: #6c6d83;
}
